 <div class="user-details">
  <h1> Developer Bio </h1>
  <p> <strong>I am a self taught programmer</strong> fully aware of how hard you have to go to achieve big goals, but also the very small ones, on a daily basis. As a member of ZeroToMastery organisation, I've learn how to progress and solve problems, all-around oriented </p>
  <p> I used to play basketball and also I'm a big fan of all sports, I've travel the world on a cruise ship and now my passion is programming </p>
  <p> I've been learning so far about Javascript, React, NPM, Express, Postgres, Git, Github, CSS, HTML...</p>
  <img class="img-about" alt="marko t" src="/assets/img/markoo.jpg">
</div>
  
