 <div class="user-details">
  <h1> Developer Bio </h1>
  <p> <strong>I am a self-taught programmer</strong> fully aware of how hard you have to go to achieve big goals, but also the small ones. As a member of ZeroToMastery organization, I've learned how to progress and solve problems, all-around oriented. </p>
  <p> I used to play basketball and also I'm a big fan of sport, I've traveled the world on a cruise ship and now <strong>my passion is programming</strong> </p>
  <p> I've been learning so far about <strong>Javascript, React, NPM, Express, Postgres, Git, Github, CSS, HTML...</strong></p>
  <img class="img-about" alt="marko t" src="/assets/img/markoo.jpg">
</div>
  
