<div class="user-details">
  <h1>Portfolio</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="smartapp" src="/assets/img/app.png" />
  </div>
  <div class="contents">
    <h3>So-Smart app</h3>
    <ul>
      <li>React,js-Node,express-PostgreSQL</li>
    </ul>
    <p>
      This is a Project where everything connects, from amazing React-with
      simple components, through API(fetch face detection) to server and
      database.
    </p>
    <a class="project-link" href="https://so-smart.herokuapp.com/"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="backgroundpick" src="/assets/img/background.png" />
  </div>
  <div class="contents-right">
    <h3>background-picker</h3>
    <ul>
      <li>Html, css, javascript</li>
    </ul>
    <p>
      Sometimes the easiest thing is the hardest one, so choose your background
      color-easily.
    </p>
    <a class="project-link" href="https://bavariah.github.io/BackgroundPicker/"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="site" src="/assets/img/sajtprikaz.jpeg" />
  </div>
  <div class="contents">
    <h3>Site Podologija i Fiz.Terapija</h3>
    <ul>
      <li>HTML, CSS, JS(jqu)</li>
    </ul>
    <p>Simple interactive Website - User friendly - Also , super helpful!</p>
    <a class="project-link" href="https://bavariah.github.io/fizio/"
      >Check it out</a
    >
  </div>
</div>
